@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark, cupcake;
}

* {
  font-family: "Manrope", sans-serif;

}